<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <br>
    <br>
    <!-- animated infinite tada -->
    <h1 class="display-3 hvr-grow ">Welcome To Khaled's World</h1>
    <br>
    <p class="lead hvr-curl-bottom-left
">Feel free to explore my website, and don't be shy to crash it with love and care, Enjoy!</p>
  </div>
</div>
<h2 class="animated infinite bounce">Example</h2>
<a href="#" class="button hvr-grow">Add to Basket</a>
