<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <br>
    <br>
    <!-- animated infinite tada -->
    <h1 class="display-3 hvr-pulse-grow ">Khaled Eliali</h1>
    <br>
    <p class="lead hvr-pulse-grow
">Full Stack Developer</p>
  </div>
</div>
<h2 class="animated infinite bounce">Click On Me</h2>
<a href="#" class="button hvr-grow">Add to Basket</a>
