<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <br>
    <br>
    <h1 class="display-3">Welcome To Khaled's World</h1>
    <br>
    <p class="lead">Feel free to explore my website, and don't be shy to crash it with love and care, Enjoy!</p>
  </div>
</div>
