<nav id="navbar-example2" class="navbar navbar-light" style="background-color:#3FB4D2">
  <a class="navbar-brand navbar-light" style="background-color:#ffff"
  href="#"><%= image_tag("K2.png", class: "logo") %> My Portfolio</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <!-- animated infinite pulse -->
      <a class="nav-link  hvr-push" href="#AboutMe">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link hvr-push" href="#Skills">Skills & Experience</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle hvr-push" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Contact Me</a>
      <div class="dropdown-menu">
        <a class="dropdown-item animated infinite jello" href="https://github.com/Eliali94">Github</a>
        <a class="dropdown-item animated infinite jello" href="https://codepen.io/Eliali94/">CodePen</a>
        <a class="dropdown-item animated infinite jello" href="https://www.linkedin.com/in/khaled-eliali-194723137/">LinkedIn</a>
          <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item animated infinite jello" href="http://www.theuselessweb.com/">Fun</a>
      </div>
    </li>
  </ul>
</nav>
