// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  background-color: pink;
}
.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
}

#AboutMe {
  color: #3FB4D2;
}

#Skills {
  color: #3FB4D2;
}

#one {
    color: #3FB4D2;
}

#two {
    color: #3FB4D2;
}

#three {
    color: #3FB4D2;
}
